#galerie-statica{
    padding-left:var(--padding-intern);
    padding-right:var(--padding-intern);
  }
  
  #grid-galerie {
   display:grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap:0.5em;
   grid-column-gap:0.5em;
  }
  #grid-galerie img{
    width: 100%;
  }
  #grid-galerie figcaption{
    text-align:center;
  }

@media screen and (max-width:1200px) {
    #grid-galerie {
        grid-template-columns: repeat(4,1fr);
    }

        #grid-galerie > figure:nth-child(1) {
            grid-area: 1/1/3/3; /*liniestart/coloanastart/liniefinish/coloanafinish*/
        }

        #grid-galerie > figure:nth-child(2) {
            grid-area: 1/3/2/5;
        }

        #grid-galerie > figure:nth-child(3) {
            grid-area: 2/2/3/4;
        }

        #grid-galerie > figure:nth-child(4) {
            grid-area: 3/1/4/3;
        }

        #grid-galerie > figure:nth-child(5) {
            grid-area: 3/3/4/5;
        }

        #grid-galerie > figure:nth-child(6) {
            grid-area: 4/2/5/4;
        }

        #grid-galerie > figure:nth-child(7) {
            grid-area: 5/1/6/3;
        }

        #grid-galerie > figure:nth-child(8) {
            grid-area: 5/3/6/5;
        }

        #grid-galerie > figure:nth-child(9) {
            grid-area: 6/2/7/4;
        }
}

@media screen and (max-width:700px) {
    #grid-galerie {
            display: block;
        }
    }

