<!DOCTYPE html>
<html lang="ro">
    <head>
        <!-- META-URI -->
        <meta name="keywords" content="costume populare, costume, popular, costume nemuritoare, tradițional, românesc, etnofolcloric, etnografie">
        <meta name="description" content="Bine ați venit în locul în care trecutul se trasformă în prezent! 
        Vă invităm să vă bucurați de cele mai frumoase și elegante articole vestimentare ale românilor din trecut, 
        dar și cele mai valoroase ale celor din prezent!">
        
        <title>Erorr 403: Forbidden</title>
        <%- include("../fragmente/head") %>     
    </head>
    <style>
        body{
        padding:3rem;
        }
    </style>

    <body>
    <%- include("../fragmente/header") %>

    <main>
        <h2>Erorr 403: Forbidden</h2>
        <img src="/resurse/imagini/eroare403.png" width="50%"/>
    </main>
    <%- include("../fragmente/footer") %>
    </body>
</html>