<!DOCTYPE html>
<html lang="ro">
    
    <head>
    <!-- META-URI -->
    <meta name="keywords" content="costume populare, costume, popular, costume nemuritoare, tradițional, românesc, etnofolcloric, etnografie">
    <meta name="description" content="Bine ați venit în locul în care trecutul se trasformă în prezent! 
    Vă invităm să vă bucurați de cele mai frumoase și elegante articole vestimentare ale românilor din trecut, 
    dar și cele mai valoroase ale celor din prezent!">

    <title>404 - Page not found</title>
    <%- include("../fragmente/head") %> <!--minus afiseaza-->
    </head>
    <style>
    body{
    padding:3rem;
    }
    </style>

    <body>
        <%- include("../fragmente/header") %> <!--minus afiseaza-->
        <main>
           <section id>
               <h2>404 - Page not found</h2>
               <section>
               <img src="/resurse/imagini/erorr.png" width="50%">
               </section>
           </section>
        </main>
    <%- include("../fragmente/footer") %> <!--minus afiseaza-->
    </body>
    
</html>