<!DOCTYPE html>
<html lang="ro">
        <head>
            <meta name="keywords" content="neamt, arad, bacau, banat, botosani, costum, popular, iasi, sibiu, neamt, vrancea, muscel, bucovina, gorj">
            <meta name="description" content="Costume populare din diferite zone ale tarii, cat si modele de pe costume!">
            <%- include("../fragmente/head")%>
            <title>Galerie</title>

        </head>     
        <style>
            body{
                padding: 3rem;
            }
        </style>

        <body>
        <%- include("../fragmente/header") %>
            
            <main>
               <%-include ("../fragmente/galerie")%>
            </main>
            
            <%- include("../fragmente/footer")%>
        </body>
        <div id="banner">Acesta este un proiect școlar!</div>
    </html>

   