<!DOCTYPE html>
<html lang="ro">
    
    <head>
    <!-- META-URI -->
    <meta name="keywords" content="neamt, botosani, iasi, bacau, vrancea, vaslui, galati, popular, costum, model, folclor">
    <meta name="description" content="Moldova este o zona bogata in traditii culturale autentice, din pacate aproape necunoscute in afara granitelor Romaniei.">

    <title>Costume Nemuritoare </title>
    <%- include("../fragmente/head") %> <!--minus afiseaza-->

    </head>
    <style>
        body{
            padding: 3rem;
        }
        .moldovaa{
            border: solid;
            border-color: black;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 25px;
            margin:0.5rem;
        }
    </style>

    <body>
        <%- include("../fragmente/header") %> <!--minus afiseaza-->
        <main>
           <section class="moldovaa">
               <h2>Moldova</h2>
               <p>Specificul principal al costumului popular din zona Moldova este dat de păstrarea unui număr mare de elemente străvechi. În comparaţie cu alte zone folclorice ale României, formele arhaice de port s-au conservat aici în mare măsură. 
                   La acest aspect au contribuit izolarea geografică a zonei, puţinele căi de comunicaţie, dar şi existenţa unui patriotism local dezvoltat, manifestat de oamenii acestor locuri.
                   Costumul popular femeiesc din zona Moldova are o structură unitară, fiind format din cămaşă tradițională (ie), poale, catrinţă, brâu şi bârneaţă, pieptar sau bundiţă, opinci, traistă, batic înflorat şi podoabe.
                   Costumul popular bărbătesc este mai sobru decât cel al femeilor. Caracteristica principală constă în păstrarea formelor străvechi pentru toate componentele sale.</p>
           </section>
        </main>
        <%- include("../fragmente/footer") %> <!--minus afiseaza-->
        <div id="banner">Acesta este un proiect școlar!</div>
    </body>
</html>