<!DOCTYPE html>
<html lang="ro">
    
    <head>
    <!-- META-URI -->
    <meta name="keywords" content="olt, mehedinti, dolj, valcea, gorj, romanati, popular, costum, model, folclor">
    <meta name="description" content="Costumul popular oltenesc reprezintă unul din cele mai complexe domenii ale artei populare.">

    <title>Costume Nemuritoare </title>
    <%- include("../fragmente/head") %> <!--minus afiseaza-->

    </head>
    <style>
        body{
            padding: 3rem;
        }
        .olteniaa{
            border: solid;
            border-color: black;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 25px;
            margin:0.5rem;
        }
    </style>

    <body>
        <%- include("../fragmente/header") %> <!--minus afiseaza-->
        <main>
           <section class="olteniaa">
               <h2>Oltenia</h2>
                <blockquote cite="http://acasalaromani.ro/costumul-popular-din-zona-olteniei/">

                    Oltenia este o zonă etnografică ce se mândrește cu mai multe tipuri de costume populare. Diferențele sunt determinate de dispunerea şi tratarea motivelor populare sau de importanţa mai mare acordată unei anumite piese din ansamblul costumului popular.
                    <br/>
                    Costumul popular din Mehedinţi este alcătuit din elemente precum vâlnicul, catrinţa, cămaşa, cârpa de bumbac sau borangic. El se remarcă prin folosirea într-o proporţie mai mare a culorii negru în decorarea pieselor, în special a catrinţelor, vâlnicelor şi cămăşilor. Aceste elemente sunt plasate în partea inferioară a piesei de cele mai multe ori având forma unei hore.
                    <br/>
                    Cât privește podoabele, mărgelele din sticlă colorată erau des întâlnite fie la gâtul oltencelor, fie la mână, ele prevenind astfel deochiul.
                    <br/>
                    În Vâlcea, costumul popular se impune prin coloritul catrinţelor, vâlnicelor şi cămăşilor în albastru şi roşu aprins. În plus, în zonă, vâlnicul se purta cu o catrinţă în faţă, bogat ornamentată.
                    <br/>
                    Decorul catrinţelor, care în Romanați poartă denumirea de boscele, este dispus în partea inferioară a piesei, compunându-se din motive colorate în culori precum: roşu, galben și albastru (culorile tricolorului). Aceleaşi culori le întâlnim pe şube şi giubele.
                    <br/>
                    Cât privește costumele populare bărbătești, în zona Olteniei, acestea sunt mai simple decât cele femeieşti neînregistrând, de la o zonă la alta, diferenţe mari.
                    <br/>
                    Pieptarele și cojoacele sunt în bună măsură prezente atât în garderoba femeiască, cat şi în cea bărbătească, diferenţele constând îndeosebi în elementele de decor, mai abundente în cazul femeilor.
                    <br/>
                    Costumul bărbătesc oltenesc era compus din: cămaşă albă brodată pe piept cu mătase albă, din cioareci, şubă, cu decor similar şubelor, căciulă iarna şi pălărie vara, opinci. În partea de sud a Olteniei se poartă ipingeaua cu broderii pe guler şi piept.</blockquote>
           </section>
        </main>
        <%- include("../fragmente/footer") %> <!--minus afiseaza-->
        <div id="banner">Acesta este un proiect școlar!</div>
    </body>
</html>