	<footer>
            <section id="datecontact">
                <h2>Contact</h2>
                <section>
                    <address id="contact">
                        <ul>
                        <li>E-mail: <a href="mailto:costume.nemuritoare@gmail.com">costume.nemuritoare@gmail.com</a></li>
                        <li>Telefon: <a href="tel:+40-0740.123.456">0740-123-456</a></li>
                        </ul>
                        Splaiul Unirii, Numărul 158, Sectorul 4<br>
                        București<br>
                    </address>
                <p><small>&copy; Carmen-Lorena Acatrinei <time datetime="2021-03-08">8 Martie 2021</time></small></p>
                </section>
            </section>
            <a href="#Top" id="goup" class="no-print"><div id="sageata"><span>Go Up</span></div></a>
        </footer>