<header>
    <h1 id = "Top">Costume Nemuritoare</h1>
    <q id="citat" class="no-print">Tradiţia este suma valorilor învechite.</q>
</header>

    <nav id="meniu-mare" class="no-print">
 
    <label id="hamburger" for="ch-menu">
        <img src="../imagini/hamburger.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox" class="no-print">
        <ul class="navigation">
            <li class="" ><div><a class="menu-anim" href="/index#"><span class="fas fa-home"></span><span class="maison">Acasa</span></a></div>
                <ul>
                    <li><a href="/index#despre">Despre Noi</a></li>
                    <li><a href="/index#clipuri">Clipurile Lunii</a></li>
                    <li><a href="/index#contact">Contact</a></li>
                    
                </ul>
            </li>
            <li><a href="#istoric">Istoric</a></li>
            <li><div>Zone etnofolclorice</div>
                <ul>
                    <li><a href="/moldova">Moldova</a></li>
                    <li><a href="/oltenia">Oltenia</a></li>
                    <li><a href="/muntenia">Muntenia</a></li>
                    <li><a href="/dobrogea">Dobrogea</a></li>
                    <li><a href="/transilvania">Transilvania</a></li>
                    <li><a href="/banat">Banat</a></li>
                </ul>
            </li>
            <li><div><a href="/articole">Articole</a></li></div>


        </ul>
    </nav>

    <p id="watermark"></p>
